.reactp__blog-container_article {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    background: var(--color-footer);
}

.reactp__blog-container_article-image {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
}

.reactp__blog-container_article-image img {
    width: 100%;
    height: 100%;
}

.reactp__blog-container_article-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 1rem 1.5rem;
    height: 100%;
}

.reactp__blog-container_article-content h3 {
    font-family: var(--font-family);
    font-size: 20.11px;
    font-weight: 800;
    line-height: 30.30px;
    
    color: #fff;
    margin-bottom: 0.5rem;
    cursor: pointer;
}

.reactp__blog-container_article-content p {
    font-family: var(--font-family);
    font-size: 13.65px;
        font-weight: 700;
    line-height: 20px;

    color: #fff;
}


.reactp__blog-container_article-content p:last-child {
    cursor: pointer;
}


@media screen and (max-width: 550px) {
    .reactp__blog-container_article-content h3 {
        font-size: 18px;
        line-height: 25p;
    }
}
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .dialog-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  